

:root {
  --color-nothing: none;
  --color-text: none;
  --color-border: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body, html {
  scroll-behavior: smooth;
  background-color: var(--color-nothing);
  height: 100vh;
  margin: 0px;
  display: grid;
}
.panels {
  align-items: top;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction:column;
}


.panel {
  flex: 1;
  position: relative;
  margin: 0px auto;

}

.wrapper {
width: 356px;
  margin: 10% auto;

  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 32px);
  grid-template-rows: repeat(10, 32px);
  grid-gap: 4px;
}
.box {
  background-color: var(--color-nothing);
  opacity: 0;
  display: grid;
  touch-action: manipulation;
  margin: 0px;
}

h1 {
  position: relative;
  text-align: center;
  /* height: 80%; */
  margin: 16px auto 16px auto;
  color:  var(--color-text);
  /* background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  font-size: 500%;
  font-family: 'M PLUS 1p', sans-serif;
}
h2 {
  position: relative;
  text-align: center;
  height: 48px;
  margin: 0px auto 5px auto;
  color:  #676E95;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Orbitron';
  font-variant: small-caps;
}
h2.hoverable:hover {
  color: #C3E88D;
  text-shadow: 0 0 2px #C3E88D;
}

h2.title {

  color:  var(--color-text);
  margin: auto;
  font-size: 48px;
  font-weight: 900;
  font-family: 'Orbitron';
}
.aiButton  {
  position: relative;
  height: 28px;
  margin: -5px auto 4px auto;
  color:  #676E95;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Orbitron';
  text-align: center;
  font-variant: small-caps;
}

.aiButton:hover {
  color: #C3E88D;
  text-shadow: 0 0 2px #C3E88D;
}
.aiButton.active {
  color:  #89DDFF;
  text-shadow: 0 0 2px #89DDFF;
}

.stats {
  width: 240px;
  height: 40%;
  display: grid;
  grid-template-rows: repeat(3, 16);
  grid-gap: 16px;
  border: solid   #32374D;
  border-width: 16px;
  padding: 24px;
  margin: 10% auto;
  color:  #676E95;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Orbitron';
}
.stats div {
  margin: 0px  ;
  /* white-space: pre; */
  text-align:center;
  height:40px;
}
.CPUstat {
  color: #C3E88D;
  text-shadow: 0 0 2px #C3E88D;
}
.YOUstat {
  color: #89DDFF;
  text-shadow: 0 0 2px #89DDFF;
}



.mobileHide {
  visibility: hidden;
  position: absolute;
}

@media (min-width: 768px) {
  .panels {
    flex-direction:row;
  }

  .mobileHide {
    visibility: visible;
    position: relative;
  }
}
